<a href="https://colab.research.google.com/github/alissaqs/DataScience/blob/main/Simple_SQL_Query.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip3 install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (1.4.31)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (4.11.2)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.10.0.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.7.0)

In [ ]:
import sqlite3
import pandas as pd
from sqlalchemy import create_engine, MetaData, Table, inspect

In [ ]:
# Using the given file, build a database and run an SQL query that will, for each area, display the area ID, area name, and average rating for all agents in the area. 
df_agent = pd.read_excel('Agent.xlsx')
df_area = pd.read_excel('Area.xlsx')
engine = create_engine('sqlite:///:memory:')
df_agent.to_sql('agent', engine)
df_area.to_sql('area', engine)
inspector = inspect(engine) 
print(inspector.get_table_names())

['agent', 'area']

In [ ]:
query = 'select AreaID, AreaHQ, AreaName from area'
pd.read_sql(query, engine).set_index('AreaID')

               AreaHQ AreaName
AreaID
1              Boston     East
2       San Francisco     West
3             Chicago  Central

In [ ]:
query2 = 'select avg (AgentRating), AgentArea from agent group by AgentArea'
pd.read_sql(query2, engine).set_index('AgentArea')

           avg (AgentRating)
AgentArea
1                      101.0
2                       92.0
3                       95.0